<h1>RailsERP Dashboard</h1>
<hr>
<br>
<%= render :partial => '/shared/search'%>
<div id="list">
  <% for dashblog in @dashblogs %>
    <p><u>( <%=h dashblog.created_at%>)</u></p>
    <b>Title: <%=h dashblog.title %></b>
    <br><%=h dashblog.blogtext %>
  <% end %>
</div>
<hr>
