<h1><%= t 'companies_index_headline' %></h1>
<%= render :partial => '/shared/search'%>
<div id="list">
<%= render :partial => 'list', :locals => { :companies => @companies } %>
</div>

<br />

<%= link_to image_tag("/images/icons/actions/list-add.png",:height => '24', :width => '24') + t('companies_editnewshowindex_new'), new_company_path %>
