<p>
  <b><%= t 'datestatus_editnewshowindex_status' %> </b>
  <%=h @datestatus.status %>
</p>


<%= link_to image_tag("/images/icons/actions/edit-find-replace.png",:height => '24', :width => '24') + t('datestatus_editnewshowindex_edit'), edit_datestatus_path(@datestatus) %> |
<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('datestatus_editnewshowindex_back'), datestatuses_path %>
