<p>
  <b>Company Name</b><br />
  <%= f.text_field :name %>
</p>

<p><b>Company Category</b><br />
  <%= f.collection_select :companyart_id, companyarts, :id, :name %>
</p>

<p>
  <%= f.submit button_name %>
</p>