<h1><%= t 'companies_new_headline' %> </h1>

<%= error_messages_for :company %>

<% form_for(@company) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f, :button_name => t('companies_editnewshowindex_create'), :companyarts => @companyarts } %>
<% end %>

<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('companies_editnewshowindex_back'), companies_path %>
