<h1><%= t 'adress_new_headline' %></h1>

<%= error_messages_for :adress %>

<% form_for(@adress) do |f| %>
<%= render :partial => 'form', :locals => { :f => f, :button_name => t('adress_editnewshowindex_create'), :companies => @companies } %>
<% end %>

<%= link_to t('adress_editnewshowindex_back'), adresses_path %>
