<p>
  <b><%= t 'dateart_editnewshowindex_art' %></b>
  <%=h @dateart.art %>
</p>


<%= link_to image_tag("/images/icons/actions/edit-find-replace.png",:height => '24', :width => '24') + t('dateart_editnewshowindex_edit'), edit_dateart_path(@dateart) %> |
<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('dateart_editnewshowindex_back'), datearts_path %>
