<%= render :partial => '/shared/search'%>
<div id="list">
<%= render :partial => 'list', :locals => { :accounts => @accounts } %>
</div>

<br />

<%= link_to image_tag("/images/icons/actions/list-add.png",:height => '24', :width => '24') + t('account_index_new'), new_account_path %>
