<h1><%= t 'kbcats_index_headline' %></h1>
<%= render :partial => '/shared/search'%>
<div id="list">
<%= render :partial => 'list', :locals => { :kbcats => @kbcats } %>
</div>

<br />

<%= link_to image_tag("/images/icons/actions/list-add.png",:height => '24', :width => '24') + t('kbcats_editnewshowindex_new'), new_kbcat_path %>
