<h1>New kbcat</h1>

<%= error_messages_for :kbcat %>

<% form_for(@kbcat) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', kbcats_path %>
