<h1>New datestatus</h1>

<%= error_messages_for :datestatus %>

<% form_for(@datestatus) do |f| %>
  <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', datestatuses_path %>
