<h1><%= t 'kbarticles_index_headline' %></h1>
<%= render :partial => '/shared/search'%>
<div id="list">
<%= render :partial => 'list', :locals => { :kbarticles => @kbarticles } %>
</div>


<br />

<%= link_to image_tag("/images/icons/actions/list-add.png",:height => '24', :width => '24') + t('kbarticles_editnewshowindex_new'), new_kbarticle_path %>
