<p>
  <b><%= t 'datestatus_editnewshowindex_status' %> </b>
  <%=h @datestatus.status %>
</p>


<%= link_to t('datestatus_editnewshowindex_edit'), edit_datestatus_path(@datestatus) %> |
<%= link_to t('datestatus_editnewshowindex_back'), datestatuses_path %>
