<h1>New dateprio</h1>

<%= error_messages_for :dateprio %>

<% form_for(@dateprio) do |f| %>
  <p>
    <b>Prio</b><br />
    <%= f.text_field :prio %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', dateprios_path %>
