<p>
  <b><%= t 'dateprio_editnewshowindex_prio' %></b>
  <%=h @dateprio.prio %>
</p>


<%= link_to t('dateprio_editnewshowindex_edit'), edit_dateprio_path(@dateprio) %> |
<%= link_to t('dateprio_editnewshowindex_back'), dateprios_path %>
