<h1><%= t 'kbarticles_new_headline' %></h1>

<%= error_messages_for :kbarticle %>

<% form_for(@kbarticle) do |f| %>
<%= render :partial => 'form', :locals => { :f => f, :button_name => t('kbarticles_editnewshowindex_update'), :kblangs => @kblangs , :kbcats => @kbcats } %>
<% end %>

<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('kbarticles_editnewshowindex_back'), kbarticles_path %>
