<h1><%= t 'parts_new_headline' %></h1>

<%= error_messages_for :part %>

<% form_for(@part, :html => { :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :button_name => t('parts_editnewshowindex_create') } %>
<% end %>

<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('parts_editnewshowindex_back'), parts_path %>
