<h1><%= t 'dateart_index_headline' %></h1>
<%= render :partial => '/shared/search'%>
<div id="list">
<%= render :partial => 'list', :locals => { :datearts => @datearts } %>
</div>

<br />

<%= link_to image_tag("/images/icons/actions/list-add.png",:height => '24', :width => '24') + t('dateart_editnewshowindex_new'), new_dateart_path %>