<p>
  <b><%= t 'dateprio_editnewshowindex_prio' %></b>
  <%=h @dateprio.prio %>
</p>


<%= link_to image_tag("/images/icons/actions/edit-find-replace.png",:height => '24', :width => '24') + t('dateprio_editnewshowindex_edit'), edit_dateprio_path(@dateprio) %> |
<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('dateprio_editnewshowindex_back'), dateprios_path %>
