<h1>Editing companyart</h1>

<%= error_messages_for :companyart %>

<% form_for(@companyart) do |f| %>
   <%= render :partial => 'form', :locals => { :f => f, :button_name => 'Update' } %>
<% end %>
<%= link_to 'Show', @companyart %> |
<%= link_to 'Back', companyarts_path %>
