<table>
  <tr>
    <th>Rolename</th>
  </tr>

<% for role in roles %>
  <tr>
    <td><%=h role.rolename %></td>

    <td><%= link_to image_tag("/images/icons/actions/edit-find.png",:height => '24', :width => '24')+ t('role_editnewshowindex_show'), role %></td>
    <td><%= link_to image_tag("/images/icons/actions/edit-find-replace.png",:height => '24', :width => '24')+ t('role_editnewshowindex_edit'), edit_role_path(role) %></td>
    <td><%= link_to image_tag("/images/icons/actions/edit-delete.png",:height => '24', :width => '24')+t('role_editnewshowindex_delete'), role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>